*{
     margin: 0;
     padding:0;
     box-sizing: border-box;
     font-family:Arial, Helvetica, sans-serif;

}
form {
     width: 470px;
     height: 280px;
     background: rgb(238, 236, 236);
     margin: auto;
     margin-top: 200px;
     box-shadow: 1px 4px 15px #000;
     padding: 20px 30px;
}
input{
     width: 100%;
     border: 1px solid #61dddd;
     background: #61dddd;
     padding: 6px 10px;
     margin: 10px 0;
     border-radius: 4px;
}
